#main-nav {
    font-family: Futura;
    background: transparent;
    color: #FFFFFE;
    /* max-width: 85%; */
    padding-top: 20px !important;
    margin: 0px auto;
}

.nav-item {
    font-size: 14px;
    color: #FFFFFE;
}

.nav-item:hover {
    text-decoration: none;
    color: #fffffe;
}

.nav-item:active {
    color: #fffffe;
    outline: none;
}
