
@font-face {
    font-family: 'Futura-PT-Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura-PT-Book'), url('../../assets/fonts/futura-pt-book.ttf') format('truetype');
}

.log-in-body {

    background: linear-gradient(to bottom right, #7C3CC5, #582D88);
    height: 100vh;
    padding-top: 75px;
    font-family: "Futura-PT-Book";
}

#astrolab-logo {
    margin: 0 auto;
    display: block;
}

#astrolab-header {
    color: #FFFFFE;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: "Futura";
}

#log-in-header {
    color: #FFFFFE;
    margin-top: 40px;
    font-size: 20pt;
    letter-spacing: 1px;
    font-family: "Futura";
    text-align: center;
}


#landing-page-buttons {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 20%;
    clear: both;
    overflow: auto;
    margin-top: 40px;
    height: 50px;
}

.log-in-body form {
    margin-top: 50px;
    letter-spacing: 1px;
}

.log-in-body form input {


    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    margin-top: 20px;
    color: #fffffe;
    letter-spacing: 1px;
    border-bottom: 1px solid #fffffe;
}

.log-in-body form input:focus {
    outline: none;
}


#checkbox {
    clear: both;
    overflow: auto;
}

#checkbox label {
    float: left;
    
}

#checkbox input {
    margin-top: 0px !important;
}
