.landing-page-body {
    background: linear-gradient(to bottom right, #1EA364, #0F5D38);
    height: 100vh;
    padding-top: 150px;
}

#astrolab-logo {
    margin: 0 auto;
    display: block;
}

#landing-page-header {
    color: #FFFFFE;
    margin-top: 20px;
    letter-spacing: 1px;
    font-family: "Futura";
    margin-bottom: 40px;
}

