@font-face {
    font-family: 'Futura-PT-Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura-PT-Book'), url('../../assets/fonts/futura-pt-book.ttf') format('truetype');
}

.profile-body {
    height: 100%;
    height: 100vh;
    /* background: black; */
    background: linear-gradient(to bottom right, #D1481E, #471489);
    color: #FFFFFE;
    font-family: Futura;
}

#profile-username {
    font-family: Futura;
    font-size: 20pt;
    letter-spacing: 2px;
    margin-top: 50px;
}

#profile-current-city {
    margin-top: -5px;
    font-size: 14pt;
    font-family: "Futura-PT-Book";
}

#profile-date {
    margin-top: -10px;
    font-size: 12pt;
    font-family: "Futura-PT-Book";

}

#settings-header {
    font-size: 20pt;
    /* float: left; */
    margin-bottom: 0px;
}

.profile-nav a {
    font-family: "Futura-PT-Book";
    font-size: 12pt;
}

.profile-body main {
    padding: 0px 40px;
    clear: both;
    overflow: auto;
}