@font-face {
    font-family: 'Futura-PT-Book';
    font-style: normal;
    font-weight: normal;
    src: local('Futura-PT-Book'), url('../../assets/fonts/futura-pt-book.ttf') format('truetype');
}

.explore-body {
    height: 100%;
    height: 100vh;
    /* background: #45924C; */
    background: rgb(83, 83, 83);
    opacity: 85%;
    color: #FFFFFE;
    font-family: Futura;
}


#explore-header {
    font-family: Futura;
    font-size: 20pt;
    letter-spacing: 1px;
    margin-top: 50px;
}

#explore-search,
#explore-location {
    background: transparent;
    color: #FFFFFE;
    font-family: 'Futura-PT-Book';
    font-size: 14pt;
}

#explore-search:focus,
#explore-location:focus {
    outline: none;
}

::placeholder {
    color: #FFFFFE;
}

#explore-filter {
    right: 17.5em;
}

/* MODAL */

#explore-modal h1 {
    font-family: "Futura-PT-Book";
    font-size: 16pt;
    letter-spacing: 1.5px;
}

#explore-modal p {
    font-family: "Futura-PT-Book";
    font-size: 16pt;
    letter-spacing: 1px;
}


#explore-modal button {
    font-family: "Futura-PT-Book";
    font-size: 12pt;
}
.modal {
    font-family: Futura;
    color: #FFFFFE;
}

.modal-content {
    /* background: #45924C !important; */
    background: rgb(83, 83, 83) !important;

    border: 1px solid #FFFFFE !important;
    border-radius: 10px !important;
    box-shadow: 0px 1px 3px 1px darkgray !important;
}

.modal-header {
    border-bottom: 1px solid rgb(92, 92, 92) !important;

}

.modal-title {
    margin: 0 auto;
}

#explore-filter-active {
    right: -0.2em;
    top: -0.2em;
}

#explore-slider {
    top: 3rem;
    right: 12rem;
}

#explore-distance {
    top: 3rem;
    right: 3rem;
}

#explore-btn-abc,
#explore-btn-closest {
    border-radius: 10px;
    background: transparent;
    border: 1px solid #FFFFFE;
    color: #FFFFFE;
    margin-right: 10px;
}

#explore-btn-abc:hover,
#explore-btn-closest:hover,
.explore-layers-btn:hover {
    cursor: pointer;
}

.explore-layers-btn {
    border-radius: 10px;
    /* background: rgb(104, 172, 111); */
    background: rgb(105, 105, 105);

    color: #FFFFFE;
    margin: 5px;
    padding: 8px;
    border: none;
    font-size: 14px;
}

#explore-btn-abc:focus,
#explore-btn-closest:focus,
.explore-layers-btn:focus {
    text-decoration: none;
    outline: none;
}

#explore-modal #map-match {
    font-size: 12pt;
    margin-top: -7px;
}

.search-results {
    height: 500px;
    overflow: scroll;
    -ms-scroll-translation: inherit;
    /* position: absolute; 
    width:100%;
    left: 50%;
    right: 50%; */
}

::-webkit-scrollbar {
    background-color: transparent;
    display: none;
  }
  ::-webkit-scrollbar-track {
    display: none;
}

